In [25]:
import numpy as np
import pandas as pd
dftrip =pd.read_csv('trip.csv',error_bad_lines = False)
weather=pd.read_csv('weather.csv')
station=pd.read_csv('station.csv',error_bad_lines = False)

b'Skipping line 50794: expected 12 fields, saw 20\n'


In the bike-stats notebook, answer the following questions/do the following tasks:

1. What is the average trip duration for a borrowed bicycle?

2. What’s the most common age of a bicycle-sharer?

3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

4. What’s the average number of bikes at a given bike station?

5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

6. Come up with 3 more questions that can be answered with this data set.

In [26]:
dftrip.head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [41]:
avg=dftrip['tripduration'].mean()
avg

1178.2956753399776

In [28]:
from datetime import datetime as DT

In [29]:

bd = dftrip['birthyear'].mean()
today = DT.today() 
age = today.year - bd
int(age)

40

#### Given all the weather data here, find the average precipitation per month, and the median precipitation

In [32]:
weather.head(5)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [33]:
weather['Date'] = pd.to_datetime(weather['Date'])
weather['Month'] = weather['Date'].dt.month
average_precipitation_per_month = (weather[['Month','Precipitation_In']]).groupby(weather.Month).mean()

In [34]:
average_precipitation_per_month

       Month  Precipitation_In
Month
1          1          0.143548
2          2          0.168421
3          3          0.156935
4          4          0.051333
5          5          0.012419
6          6          0.030500
7          7          0.012097
8          8          0.018226
9          9          0.041000
10        10          0.189000
11        11          0.187833
12        12          0.236290

In [35]:
median_precipitation = ((weather.groupby('Month')['Precipitation_In'].mean()).median())

In [36]:
median_precipitation

0.09744086021505376


#### What’s the average number of bikes at a given bike station?

In [37]:
avgBike =station.current_dockcount.mean()
avgBike = int(avgBike)

In [38]:
avgBike

16

In [42]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(int(age), 40)
    assert_equal(median_precipitation, 0.09744086021505376)
    assert_equal(int(avgBike), 16)


    print("#### Success ####")

test()

#### Success ####