In [32]:
import pandas as pandas
df=pandas.read_csv('vgsales.csv')

# Which company is the most common video game publisher

In [33]:
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [34]:
most_common_publisher=df['Publisher'].value_counts(). idxmax()

In [35]:
most_common_publisher

'Electronic Arts'

# What’s the most common platform?

In [36]:
most_common_platform=df['Platform'].value_counts().idxmax()
most_common_platform

'DS'

# What about the most common genre?

In [37]:
most_common_genre=df['Genre'].value_counts().idxmax()

most_common_genre

'Action'

# What are the top 20 highest grossing games?

In [38]:
top_twenty_highest_grossing_games=df.sort_values('Global_Sales',ascending=True).tail(20)
top_twenty_highest_grossing_games[['Name','Global_Sales']]

                                            Name  Global_Sales
19  Brain Age: Train Your Brain in Minutes a Day         20.22
18                             Super Mario World         20.61
17                 Grand Theft Auto: San Andreas         20.81
16                            Grand Theft Auto V         21.40
15                            Kinect Adventures!         21.82
14                                  Wii Fit Plus         22.00
13                                       Wii Fit         22.72
12                   Pokemon Gold/Pokemon Silver         23.10
11                                 Mario Kart DS         23.42
10                                    Nintendogs         24.76
9                                      Duck Hunt         28.31
8                      New Super Mario Bros. Wii         28.62
7                                       Wii Play         29.02
6                          New Super Mario Bros.         30.01
5                                         Tetris         30.26
4                       Pokemon Red/Pokemon Blue         31.37
3                              Wii Sports Resort         33.00
2                                 Mario Kart Wii         35.82
1                              Super Mario Bros.         40.24
0                                     Wii Sports         82.74

#### For North American video game sales, what’s the median?
#### Provide a secondary output showing ten games surrounding the median sales output
#### assume that games with same median value are sorted in descending order
#### For the top-selling ga

In [70]:

most=df[df['Global_Sales']>0.1]
most

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
10412,10414,Fairy Tail: Portable Guild,PSP,2010.0,Fighting,Konami Digital Entertainment,0.00,0.00,0.11,0.00,0.11
10413,10415,Champion Jockey: G1 Jockey & Gallop Racer,Wii,2011.0,Sports,Tecmo Koei,0.05,0.04,0.01,0.01,0.11
10414,10416,SimCity 2000,GBA,2003.0,Simulation,Zoo Digital Publishing,0.08,0.03,0.00,0.00,0.11
10415,10417,Brunswick Circuit Pro Bowling 2,PS,2000.0,Sports,THQ,0.06,0.04,0.00,0.01,0.11
10416,10418,D,PS,1995.0,Adventure,Acclaim Entertainment,0.00,0.00,0.10,0.01,0.11

median```

North_American_Median = most_Golbal['NA_Sales'].median(axis = 0)
get_the_middle = df[df['NA_Sales'] == North_American_Median]

mid_game = len(get_the_middle)//2
star= mid_game-5
arr_game=[]
for i in range(10):
    arr_game.append(get_the_middle.iloc[star]['Name'])
    star+=1
arr_game
```

In [71]:
na_median_sales=most['NA_Sales'].median(axis = 0)
na_median_sales
middle=df[df['NA_Sales']==na_median_sales]
mid=len(middle)//2

start=mid-4

arrs=[]
for i in range(10):
    arrs.append(middle.iloc[start]['Name'])
    start+=1

arrs

['PowerUp Heroes',
 'Mega Man ZX',
 "Assassin's Creed IV: Black Flag",
 'Starhawk',
 'Disney Channel: All Star Party',
 'Fable: The Journey',
 'Tony Hawk: Shred',
 'Hot Wheels: Track Attack',
 'Rapala Pro Bass Fishing 2010',
 'RalliSport Challenge 2']

In [72]:
na_median_sales

0.18

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [73]:
std=df['NA_Sales'].std()
mean=df['NA_Sales'].mean()
ten_median_na_seller_names=df['NA_Sales'].iloc[0]
(ten_median_na_seller_names-mean)/std

50.47898767479108

In [88]:
wii=df[df['Platform']=='Wii'].Global_Sales
another=df[df['Platform']!='wii'].Global_Sales
print(wii.mean())
print(another.mean())

0.6994037735849057
0.5374406555006628

In [68]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher,'Electronic Arts')
    assert_equal(most_common_platform,'DS')
    assert_equal(most_common_genre,'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.18)

    print("#### Success ####")

test()

#### Success ####